<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="text-center">
                <h3>Data security</h3>
                <p>
                    With Ara all your employee and visitor data is encrypted and stored safely into the cloud. Ara is
                    compliant with GDPR and other major data compliance norms
                </p>
            </div>
        </div>
        <div class="col-sm">
            <div class="text-center">
                <h3>Easily access visitor data</h3>
                <p>
                    With Ara all your employee and visitor data is encrypted and stored safely into the cloud. Ara is
                    compliant with GDPR and other major data compliance norms
                </p>
            </div>
        </div>
        <div class="col-sm">
            <div class="text-center">
                <h3>Kept it in the cloud </h3>
                <p>
                    With Ara all your employee and visitor data is encrypted and stored safely into the cloud. Ara is
                    compliant with GDPR and other major data compliance norms
                </p>
            </div>
        </div>
    </div>
</div>