<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="../../assets/ara_logo_new.svg">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse nav-class" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/feature']">FEATURES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/pricing']">PRICING</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/contact']">CONTACTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">BLOG</a>
            </li>
            <li class="nav-item">
                <button class="log-in" [routerLink]="['/login']">LOGIN</button>
            </li>
        </ul>
    </div>
</nav>
<section class="banner-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm trail-content">
                <h1 class="h1-font">
                    Modernize your office<br> reception, Instantly
                </h1>
                <button class="btn primary">Start My 14 Day Free Trail</button>
                <p>
                    Try for Free, No Credit Card Required
                </p>
            </div>
            <div class="col-sm banner-sec">
                <img src="../../assets/banner_img_n.png" />
            </div>
        </div>
    </div>
</section>