<div class="container mt-5">
    <div class="row">
        <div class="col-sm">
            <div class="priced">
                <h1>Starter</h1>
                <h1 class="pricetag">$49</h1>
                <p>Ideal for small business and startups up to 50 employees </p>
                <button>Start Free Trail</button>
            </div>
        </div>
        <div class="col-sm">
            <div class="top-recomended">
                <div class="priced">
                    <h1>Busiess</h1>
                    <h1 class="pricetag">$49</h1>
                    <p>Ideal for small business and startups up to 250 employees </p>
                    <button>Start Free Trail</button>
                </div>
            </div>

        </div>
        <div class="col-sm">
            <div class="priced">
                <h1>Enterprice</h1>
                <h1 class="pricetag">Contact Us </h1>
                <p>For large Enterprice with custom work flow</p>
                <button>contact Us</button>
            </div>
        </div>
    </div>
</div>